<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Star Social</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="{% static 'simplesocial/css/master.css' %}">

</head>
<body>
	<nav class="navbar mynav" role='navigation' id='navbar'>
		<div class="container">
			<a class = 'navbar-brand mynav' href="{% url 'home' %}">
				<span><h2>Star Social</h2></span>
			</a>

			<ul class='nav navbar-nav navbar-right'>
				{% if user.is_authenticated %}	
					<li><a href="{% url 'posts:create' %}">
						<span><h3>Post</h3></span></a></li>
					<li><a href="{% url 'groups:all' %}">
						<span><h3>Groups</h3></span></a></li>
					<li><a href="{% url 'groups:create' %}">
						<span><h3>Create group</h3></span></a></li>
				  	<li><a href="{% url 'accounts:logout' %}">
				  		<span><h3>Log Out</h3></span>
				  	</a></li>
				{% else %}
					<li><a href="{% url 'groups:all' %}">
						<span><h3>Groups</h3></span></a></li>
					<li><a href="{% url 'accounts:login' %}">
						<span><h3>Log In</h3></span></a></li>
					<li><a href="{% url 'accounts:signup' %}">
						<span><h3>Sign Up</h3></span></a></li>
				{% endif %}
			</ul>
		</div>
		
	</nav>
	<div class="container mycontent">
		{% block content %}

		{% endblock %}
	</div>

</body>
</html>